.contenedor{
	width: 85%;
    margin: 0 auto;
    display: flex;
	justify-content: space-between;
    align-items: center;
    
    position: relative;

    padding: 10px 20px 10px 20px;
    
    background: #1e2127;
}
header{
	color: white;
    max-height: 70px;
    background: #1e2127;
    display: flex;
    margin-bottom: 20px;
}
.brand{
    margin-left: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

    font-size: 20px;
}

.navegador{
    background: #1e2127;
    display: flex;
    align-items: center;
}
.navegador ul{
	margin: 0;
	padding: 0;
    list-style: none;
    color: white;
    width: 100%;

    display: flex;
}


.active{
    background: #3b414d;
}

.navegador ul li a{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
}

.menu-toggle{
    visibility: hidden;
}

.manu-open{
    top: 30px;
    right: 0px;
    padding: 1em;
}
.menu-open .hamburger{
    transform: rotate(45deg);
}
.menu-open .hamburger::before{
    opacity: 0;
}
.menu-open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}
.hamburger,
.hamburger::before,
.hamburger::after{
    content: '';
    display: block;
    background: rgb(255, 239, 239);
    height: 3px;
    width: 45px;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
.hamburger::before{
    transform: translateY(-6px);
    height: 3px;
}
.hamburger::after{
    transform: translateY(3px);
}

.button-menu{
    padding: .25rem .75rem;
    font-size: 1.25rem;
    width: 70px;
    height: 70px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;

    display: none;
    margin-left: auto;
}

@media only screen and (max-width: 767px){
    header{
        display: block;
    }
    .button-menu{
        display: inline;
    }
    .contenedor{
        width: 100%;
    }
    .navegador{
        width: 100%;
        transform: translateX(100%);
        position: relative;
        z-index: 1;
        transition: all ease-in-out 500ms;
        display: block;
        position: absolute;
        height: 100%;
    }
    .open{
        transform: translateX(10%);
        transition: all ease-in-out 500ms;
    }

    .navegador ul{
        display: block;
    }
    .navegador ul li{
        text-transform: uppercase;
        border-bottom: 1px solid #7070707e;
        display: block;
        width: 100%;

        height: 70px;
    }

    .menu-toggle{
        visibility: visible;
    }

}
